{% from "custom_macros.html" import render_field_with_errors, render_field, render_labeled_field %}

{% extends "layout.html" %}

{% block content %}

{% include "security/_messages.html" %}

<div class="auth-container">
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, placeholder='Email Address') }}
  {{ render_field_with_errors(login_user_form.password, placeholder='Password') }}
  {{ render_labeled_field(login_user_form.remember) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit) }}
</form>
</div>

{% endblock %}

{# include "security/_menu.html" #}
