{% from "custom_macros.html" import render_field_with_errors, render_field %}

{% extends "layout.html" %}

{% block content %}

{% include "security/_messages.html" %}

<div class="auth-container">
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email, placeholder="Email Address") }}
  {{ render_field_with_errors(register_user_form.username, placeholder="Username") }}
  {{ render_field_with_errors(register_user_form.password, placeholder="Password") }}
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm, placeholder="Confirm Password") }}
  {% endif %}
  {{ render_field(register_user_form.submit) }}
</form>
</div>

<h2>Why do I ask for your email?</h2>
<p>So I can email you in case all the passwords leak or something scary like that. Also so you can be banned (not that i actually have a ban system in place, but just don't tell anybody mean for now). I'm not using this to verify any logins, either. This is all a big dumb test. Just play nice!</p>

{% endblock %}

{# include "security/_menu.html" #}
