body {
	font-family: sans-serif;
	font-size: 16px;
	margin: 0;
	background-color: #fafaff;
}

a, a:visited {
	text-decoration: none;
	color: #00f;
}

h1, h2 {
	text-align: center;
}

.blue-on-white-button, a.blue-on-white-button {
	padding: 7px;
	color: #00f;
	border: 1px solid #00f;
	border-radius: 4px;
	background-color: #fff; 
}

input {
	font-size: 16px;
}

.white-on-blue-button, a.white-on-blue-button {
	padding: 7px;
	color: #fff;
	background-color: #00f;
	border: 1px solid #00f;
	border-radius: 4px;
	font-weight: bold;
}

.form-link-container {
	width: 100%;
	text-align: center;
}

.header-button {
	color: #00f;
	cursor: pointer;
	display: inline-block;
	min-width:272px;
}

#start-form {
	margin-top: 0;
}

.main {
	max-width: 928px;
	padding: 16px;
	margin: 0 auto;
}

.nav {
	margin: 16px 0 32px 0;
	height: 35px;
}

.nav a {
	margin-right: 8px;
}

.foot {
	text-align: center;
}

#emoji-picker {
	max-height: 50vh;
	overflow-y: scroll;
	border-top: 1px solid #00f;
	border-bottom: 1px solid #00f;
}

.group-container {
	font-size: 18px;
	width: 22px;
	display: inline-block;
	cursor: pointer;
	color: blue;
	border-style: solid;
	border-width: 3px;
	border-color: #fafaff;
}

.tone-container {
	display: inline;
	cursor: pointer;
}

.tone {
	width: 24px;	
	height: 24px;
	border-width: 6px;
	border-style: solid;
	border-color: #fafaff;
}

.active-tone {
	background-color: #cde;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

#emoji-picker, .reaction-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 48px);
	margin: 16px auto;
	width: auto;
}

.emoji-container, .reaction-container {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.reaction-link {
	display: inline;
	vertical-align: middle;
}

.emoji, .reaction {
	display: block;
    width: 32px;
	height: 32px;
	border-top: 8px solid #fafaff;
	vertical-align: middle;
	margin: 0 auto;
}

.info-span .reaction {
	display: inline-block;
	border: none;
	margin-right: 4px;
}

.reaction-info img.reaction {
	display: inline;
	padding-top: 0;
}

.reaction-info .info-span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	margin-right: auto;
	padding-left: 8px;
	padding-right: 16px;
}

.reaction-menu-container {
	height: 48px;
}

#reaction-menu {
	width: 100%;
	height: 48px;
	background-color: white;
	border-bottom: 1px solid #00f;
}


.reaction-info {
	display: flex;
	align-items: center;
	width: 100%;
	height: 48px;
}

.reaction-container .reaction-info {
	display: none;
}

#link {
	width: calc(100% - 35px);
	font-size: 16px;
	padding: 7px;
	border: 1px solid #00f;
}

.submit-container {
	width: 256px;
	margin: 0 auto;
}

#submit {
	-webkit-appearance: none;
	width: 288px;
	height: 46px;
	text-align: center;
	border: 1px solid #00f;
	border-radius: 4px;
	color: #00f;
	background-color: #fff;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.error {
	text-align: center;
	color: red;
}

a.link-button {
	padding: 7px;
	margin-right: 8px;
	border: 1px solid #00f;
	border-radius: 4px;
}

.auth-container {
	text-align: center;
}

#email, #password, #username, #password_confirm {
	font-size: 16px;
	padding: 7px;
	border: 1px solid #00f;
	width: 270px;
}

.follows-container {
	width: 100%;
	margin: 16px auto;
	font-weight: bold;
	text-align: center;
}

input[type=button], input[type=submit] {
	cursor: pointer;
}

#follow, #unfollow {
	padding: 7px 15px;
	margin-bottom: 16px;
}

.user-list {
	width: 280px;
	margin: 0 auto;
	font-weight: bold;
	color: black;
}
