<div class="form-link-container">
	<h2 class="header-button blue-on-white-button" id="start-form">Paste a link.</h2>
</div>
<form style="display: none; text-align: center;" action="{{ url_for('home') }}" method="POST" name="react_form">
{{ form.hidden_tag() }}
{% for error in form.link.errors %}
	<p class="error">{{ error }}</p>
{% endfor %}
{{ render_field(form.link) }}

<h2>React to it by picking one (1) emoji.</h2>
{% for error in form.emoji.errors %}
	<p class="error">{{ error }}</p>
{% endfor %}
<div class="emoji-groups">
	<div class="group-container" id="smileys-and-people"><i class="fas fa-fw fa-male"></i></div>
	<div class="group-container" id="animals-and-nature"><i class="fas fa-fw fa-leaf"></i></div>
	<div class="group-container" id="food-and-drink"><i class="fas fa-fw fa-utensils"></i></div>
	<div class="group-container" id="activities"><i class="fas fa-fw fa-basketball-ball"></i></div>
	<div class="group-container" id="travel-and-places"><i class="fas fa-fw fa-building"></i></div>
	<div class="group-container" id="objects"><i class="fas fa-fw fa-lightbulb"></i></div>
	<div class="group-container" id="symbols"><i class="fas fa-fw fa-map-signs"></i></div>
	<div class="group-container" id="flags"><i class="fas fa-fw fa-flag"></i></div>
</div>
<div id="emoji-picker">
</div>
<div class="emoji-tones">
	<div class="tone-container">
		<img class="tone" id="tone-a" src="/static/img/color_a.png">
	</div>
	<div class="tone-container">
		<img class="tone" id="tone-b" src="/static/img/color_b.png">
	</div>
	<div class="tone-container">
		<img class="tone" id="tone-c" src="/static/img/color_c.png">
	</div>
	<div class="tone-container">
		<img class="tone" id="tone-d" src="/static/img/color_d.png">
	</div>
	<div class="tone-container">
		<img class="tone" id="tone-e" src="/static/img/color_e.png">
	</div>
	<div class="tone-container">
		<img class="tone" id="tone-f" src="/static/img/color_f.png">
	</div>
</div>

{{ render_field(form.submit) }} 

</form>
