<div class="reaction-menu-container">
<div id="reaction-menu"></div>
</div>

<div class="reaction-list">
{% for post in posts %}
<div class="reaction-container" id="reaction_{{ post.id }}">
	<div class="reaction" data-value="{{ post.emoji }}"></div>
	<div class="reaction-info">
		<span class="info-span"><div class="reaction" data-value="{{ post.emoji }}"></div><a href="/user/{{ post.user_object.username }}" style="font-weight: bold; color: black;">{{ post.user_object.username }}</a> <a class="reaction-link" target="_blank" href="{{post.link_object.url}}">{{post.link_object.url}}</a></span>
		</div>
</div>
{% endfor %}
</div>
