{% macro render_field_with_errors(field) %}
  <p>
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      {% for error in field.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </p>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_labeled_field(field) %}
<p>{{ field.label }}{{ field(**kwargs)|safe }}</p>
{% endmacro %}
