{% extends 'layout.html' %}

{% block content %}

{% if style == "followers" %}
<h2>Users following <a href="/user/{{ user.username }}">{{ user.username }}</a></h2>
{% elif style == "following" %}
<h2>Users <a href="/user/{{ user.username }}">{{ user.username }}</a> follows</h2>
{% endif %}

<div class="user-list">
{% for fw in fw_list %}
	{% if style == "followers" %}
	<a class="user-link" href="/user/{{ fw.follower_object.username }}">
		{{ fw.follower_object.username }}
	</a>
	{% elif style == "following" %}
	<a class="user-link" href="/user/{{ fw.following_object.username }}">
		{{ fw.following_object.username }}
	</a>
	{% endif %}
	<br/>
{% endfor %}
</div>

{% endblock %}
