<!DOCTYPE HTML>
<html>

<head>
	<meta charset=UTF-8 name=viewport content="width=device-width, initial-scale=1">
	<title>React Forever</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="/static/jquery-3.3.1.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</head>

<body>
	<div class="main">
		<h1><a href="/">React. Forever.</a></h1>

		<div class="nav">
			{% if current_user.is_authenticated %}
				<a class="blue-on-white-button fl" href="/user/{{ current_user.username }}">profile</a>
				<a class="blue-on-white-button fr" href="/logout">log out</a>
			{% else %}
				<a class="blue-on-white-button fl" href="/login">login</a>
				<a class="blue-on-white-button fr" href="/register">register</a>
			{% endif %}
		</div>

		{% block content %}
		{% endblock %}
		
		<div class="foot" style="margin-top: 48px;">
			By <a target="_blank" href="https://twitter.com/dumbitry">@dumbitry</a>
		</div>
	</div>

</body>

<script src="/static/emoji-picker.js"></script>

</html>
