{% extends "layout.html" %}

{% block content %}

<h2>{{ user.username }}</h2>


<div class="follows-container">
	
	{% if current_user.is_authenticated %}
		{% if current_user.id != user.id %}
			{% if follower %}
			<span>Follows you</span>
			{% endif %}

			{% if not following %}
			<form action="/user/{{ user.username }}/follow" method="POST" name="follow_form"> 
				<input class="white-on-blue-button" id="follow" name="follow" value="Follow" type="submit">
			</form>
			{% else %}
			<form action="/user/{{ user.username }}/unfollow" method="POST" name="unfollow_form"> 
				<input class="blue-on-white-button" id="unfollow" name="unfollow" value="Unfollow" type="submit">
			</form>
			{% endif %}
		{% endif %}
	{% endif %}

	<span>
	<a href="/user/{{ user.username }}/followers" class="followers">{{ fwer_count }} followers</a>  |  <a href="/user/{{ user.username }}/following" class="followers">{{ fwing_count }} following</a>
	</span>
</div>

{% include'_reactions.html' %}

{% endblock %}
